@font-face {
  font-family: "SFCR";
  src: url("../public/SF-Compact-Rounded-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "SFCR";
  src: url("../public/SF-Compact-Rounded-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SFCR";
  src: url("../public/SF-Compact-Rounded-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SFCR";
  src: url("../public/SF-Compact-Rounded-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SFCR";
  src: url("../public/SF-Compact-Rounded-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "SFCR";
  src: url("../public/SF-Compact-Rounded-Black.otf");
  font-weight: 900;
}
