.containerSingle {
  max-width: 590px;
  margin: 0 auto;
}

.containerSix {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  padding: 20px;
}

.actions {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
