%button {
  padding: 10px 25px;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 700;
  transition: background-color ease-in-out 300ms;
}

.primary {
  @extend %button;
  background-color: #469744;
  color: #fff;

  &:hover {
    background-color: darken(#469744, 10%);
  }
}

.grey {
  @extend %button;
  background-color: #bebebe;
  color: #fff;

  &:hover {
    background-color: darken(#bebebe, 10%);
  }
}
